<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".presentation.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projecte"
        tools:targetApi="31">
        <activity
            android:name=".presentation.presentation.ui.activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.presentation.ui.fragments.AjustesPerfilFragment"
            android:exported="true" />
        <activity
            android:name=".presentation.presentation.ui.fragments.CanviarContrasenyaFragment"
            android:exported="true" />
        <activity
            android:name=".presentation.presentation.ui.fragments.CancelarPartitFragment"
            android:exported="false" />
        <activity
            android:name=".presentation.presentation.ui.fragments.CancelarPistaFragment"
            android:exported="false" />
        <activity
            android:name=".presentation.presentation.ui.fragments.ReservarPartitFragment"
            android:exported="false" />
        <activity
            android:name=".presentation.presentation.ui.fragments.ReservarPistaFragment"
            android:exported="false" />
        <activity
            android:name=".presentation.presentation.ui.fragments.VisualitzarEsportsFragment"
            android:exported="true" />
        <activity
            android:name=".presentation.presentation.ui.activities.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.presentation.ui.fragments.OpcionsReservarFragment"
            android:exported="true" />
        <activity
            android:name=".presentation.presentation.ui.fragments.VisualitzarHoresPartitFragment"
            android:exported="true" />
        <activity
            android:name=".presentation.presentation.ui.fragments.VisualitzarHoresPistaFragment"
            android:exported="true" />
        <activity
            android:name=".presentation.presentation.ui.fragments.VisualitzarCalendariPartitFragment"
            android:exported="true" />
        <activity
            android:name=".presentation.presentation.ui.fragments.VisualitzarCalendariPistaFragment"
            android:exported="true" />
        <activity
            android:name=".presentation.presentation.ui.fragments.VisualitzarReservesFragment"
            android:exported="true" />
        <activity
            android:name=".presentation.presentation.ui.activities.LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>